/* TestimonialSection.css */

/* Target the carousel arrows */
.carousel .control-next.control-arrow, .carousel .control-prev.control-arrow {
    width: 30px;
    height: 30px;
    background: white; /* Remove default background */
    
  }
  
  /* Adjust the arrow icon size */
  .carousel .control-next.control-arrow::before, .carousel .control-prev.control-arrow::before {
    border-width: 4px; /* Adjust the arrow icon size */
    border-top: none;
    border-bottom: none;
    height: 20px;
  }
  
  /* Customize the position if needed */
  .carousel .control-next.control-arrow {
    right: 10px; /* Adjust the right position */
    top: 50%;
  }
  
  .carousel .control-prev.control-arrow {
    left: 10px; /* Adjust the left position */
    top: 50%;
  }
  
  /* model & arrow */
  .custom-arrow {
    background: transparent;
    border: none;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.479);
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
  }
  
  .custom-prev {
    left: 0;
  }
  
  .custom-next {
    right: 0;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  