@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: #0f0f0f;
  background-size: cover;
  height:fit-content;
  font-family: 'poppins';
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  z-index: 999; /* Ensure it's above other content */
}

/* Modal Box */
.modal-box {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensure it's above the overlay */
}
.project-section{
  background-image: url("https://i.ibb.co/WktKhPL/vecteezy-minimalist-dark-gradient-wave-background-simple-design-for-7718309.jpg");
  background-blend-mode: hue;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px;
}
.project-area{
  display: flex;
}
.body-area {
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to right, rgba(0, 6, 95, 0.164), rgba(129, 1, 1, 0.055)) ;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height:fit-content;
  width: 60%;
  padding: 30px;
  padding-left: 120px;
  margin-left: -100px;
}
.body-area:hover .button-rounded{
  display: block;
}
.body-area:hover{
  margin-bottom: 15px;
}
.button-rounded{
  font-weight: 200;
  transition: display 0.3s; 
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  display: none;
}
.tag-area{
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.281), rgba(255, 255, 255, 0.164));
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}
@media only screen and (max-width: 600px) {
  .project-area{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top:0 ;
  }
  .body-area{
    margin: 0;
    padding: 30px;
    width: 95%;
    margin-top: -50px;
    margin-bottom: 15px;
  }
  .tag-area{
    overflow-x: scroll;
  }
  .categories-container {
  display: flex;
  gap: 2px; /* Adjust as needed */
  padding-bottom: 10px; /* Add some bottom padding */
  overflow: scroll;
  width: 100%; /* Ensure the container takes full width */
  flex-wrap: nowrap;
}
  .button-rounded{
    display: block;
  }
}

@media only screen and (min-width:1030px) {
  .project-area{

  }
  .body-area{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 15px;
    width: 70%;
    margin: 0;
    margin-left: -40px;
  }
  .tag-area{
  }
}