
.keen-slider{
  width: 100% !important;
  height: fit-content !important;
}
  [class^="number-slide"],
  [class*=" number-slide"] {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
  }
  

  .keen-slider {
    overflow: hidden;
  }
  
  .keen-slider__slide {
    width: 100%;
  }
  .carousel-language{
    display: flex;
    gap: 10px !important;
  }
  
  @media (min-width: 768px) {
    .keen-slider__slide {
      width: 50%;
    }
  }
  
  @media (min-width: 1200px) {
    .keen-slider__slide {
      width: 33.33%;
    }
  }
    